<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Tracker</title>
    <style>
        .main_bg{
    margin: 50px auto;
    background-color: rgb(22, 175, 22);
    padding: 2px;
    border-radius: 10px;
    width: 80vw;
    text-align: center;
}

.link_div{
    display: flex;
    flex-direction: row;
}

.first_link{
    flex: 1 1 0%;
    text-align: left;
}

.link_div a{
    color: white;
    margin-left: 5px;
    margin-right: 5px;;
}

@media screen and (min-width: 500px){
    .main_bg{
        width: 40vw;
    }
}

    </style>
</head>
<body>
    <div class="main_bg">
        <p>Link Expired, Sign Up again.</p>
    </div>
</body>
</html>